{% extends 'dashboard.html.twig' %}

{% block title %}
	Intranet - Alumnos
{% endblock %}

{% block titlePage %}
	Alumnos - {{isDirective ? 'Todos' : 'Mi Curso'}}
{% endblock %}

{% block jsContent %}
	{{ encore_entry_script_tags('studentjs') }}
{% endblock %}

{% block styleContentDashBoard %}
	{{ encore_entry_link_tags('student') }}
{% endblock %}

{% block toolbarPage %}{% endblock %}
{% block pageContent %}
	<div class="flex">
		<div id="main-content" class="flex flex-wrap gap-4 justify-center mt-4 -m-4">
			{% include 'student/partials/student.html.twig' %}
		</div>
	</div>
{% endblock %}
