{% block styleContent %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}

<header class="navbar sticky-top position-fixed w-100 bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="/">
		<b>I.E.S. SALDUBA</b>
	</a>

	<ul class="navbar-nav flex-row">
		<li class="nav-item text-nowrap">
			<button class="nav-link px-3 text-white dropdown-toggle icon-header" type="button" data-bs-toggle="dropdown" data-bs-target="" aria-controls="" aria-expanded="false" aria-label="notifications">
				<span id="notification-count" class="badge bg-danger"></span>
				<i class="fa-solid fa-bell"></i>
			</button>
			<ul id="notify-container" class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="notificationDropdown">
				<li id="header-notify" class="d-flex align-items-center">
					<h6 class="dropdown-header">Notificaciones</h6>
					<div id="delete-all-notify">
						<i class="fa-solid fa-check-double"></i>
					</div>
				</li>
				<li><hr class="dropdown-divider"></li>
			</ul>
		</li>
		<li class="nav-item text-nowrap">
			<button class="nav-link px-3 text-white dropdown-toggle icon-header" type="button" data-bs-toggle="dropdown" data-bs-target="" aria-controls="" aria-expanded="false" aria-label="messages">
				<i class="fa-solid fa-envelope"></i>
			</button>
			<ul id="message-menu-container" class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="notificationDropdown">
				<li id="header-notify" class="d-flex align-items-center">
					<h6 class="dropdown-header">Mensajes</h6>
				</li>
				<li><hr class="dropdown-divider"></li>
				<a href="message">
					<li>
						<div class="d-flex align-items-center dropdown-item message-category">
							<i class="fa-solid fa-earth-americas"></i>
							<div class="d-flex flex-column content-notify">
								<span>
									<b>Todos</b>
								</span>
							</div>
							<div>
								<b id="all_message_count"></b>
							</div>
						</div>
					</li>
				</a>
				<a href="message?mode=inbox">
					<li>
						<div class="d-flex align-items-center dropdown-item message-category">
							<i class="fa-solid fa-inbox"></i>
							<div class="d-flex flex-column content-notify">
								<span>
									<b>Recibidos</b>
								</span>
							</div>
							<div>
								<b id="inbox_message_count"></b>
							</div>
						</div>
					</li>
				</a>
				<a href="message?mode=important">

					<li>
						<div class="d-flex align-items-center dropdown-item message-category">
							<i class="fa-solid fa-star"></i>
							<div class="d-flex flex-column content-notify">
								<span>
									<b>Favoritos</b>
								</span>
							</div>
							<div>
								<b id="important_message_count"></b>
							</div>
						</div>
					</li>
				</a>
				<a href="message?mode=send">

					<li>
						<div class="d-flex align-items-center dropdown-item message-category">
							<i class="fa-solid fa-paper-plane"></i>
							<div class="d-flex flex-column content-notify">
								<span>
									<b>Enviados</b>
								</span>
							</div>
							<div>
								<b id="send_message_count"></b>
							</div>
						</div>
					</li>
				</a>
				<a href="message?mode=removed">
					<li>
						<div class="d-flex align-items-center dropdown-item message-category">
							<i class="fa-solid fa-trash-can"></i>
							<div class="d-flex flex-column content-notify">
								<span>
									<b>Papelera</b>
								</span>
							</div>
							<div>
								<b id="removed_message_count"></b>
							</div>
						</div>
					</li>
				</a>
			</ul>
		</li>
		<li class="nav-item text-nowrap d-md-none">
			<button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa-solid fa-bars"></i>
			</button>
		</li>
	</ul>
</header>
