<div class="btn-group me-2">
	<div class="input-group-prepend">
		<span id="search-bg" class="input-group-text bg-white border-right-0 d-flex border-0 gap-3" id="search-addon">
			<i class="fas fa-search "></i>
			<input type="text" class="form-control border-left-0 rounded" placeholder="Buscar {{ searchValue }}...">
		</span>
	</div>
</div>
