
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

ul a {
    text-decoration: none;
}

.icon-header:hover {
    color: lightslategray !important;
    transition: all .3s ease;
}

.icon-header.show {
    color: lightslategray !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #191C1F;
}

.dropdown-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.message-category {
    justify-content: space-between !important;
}

#notify-container {
    width: 16rem;
}

#header-notify {
    gap: 6.1rem;
}

.delete-notify, #delete-all-notify{
    cursor: pointer;
}

#delete-all-notify:hover{
    color: green;
}

.delete-notify:hover{
    color: firebrick;
}

.content-notify {
    width: 8.65rem;
}