.card {
    width: 41rem;
}

.message-check-container {
    width: 17% !important;
}

.message-check-container i {
    cursor: pointer;
}

.icon-message-container {
    height: 2rem !important;
    justify-content: flex-end;
}

.icon-message {
    font-size: 1.5rem;
}

.icon-message.fa-recycle{
    cursor: pointer;
}

.icon-message.fa-recycle:hover {
    color: firebrick;
}

.star {
    line-height: 1.4rem !important;
}

.star:hover {
    color: gold;
    cursor: pointer;
}

.star.fa-solid {
    color: gold;
}

.image-message-container {
    width: 5rem !important;
    border: 3px solid #212529;
    border-radius: 50%;
}

.col-1 {
    width: max-content !important;
}

.selected {
    background-color: #212529;
    color: white;
}

.selected .image-message-container {
    border-color: white;
}

#check-all {
    cursor: pointer;
}
/* 
#search-bg {
    background-color: #212529 !important;
} */

@media (max-width: 768px) {
    #main-content {
        justify-content: center !important;
        gap: 5rem !important;
    }

    .message-check-container {
        display: none !important;
    }

    .card {
        width: 15rem !important;
    }

    #delete-all-messages {
        display: none;
    }
    
}