{% extends 'dashboard.html.twig' %}

{% block title %}
    Intranet - Mensajes
{% endblock %}

{% block titlePage %}
	Mensajes -
	{{mode}}
{% endblock %}

{% block jsContent %}
	{{ encore_entry_script_tags('messagejs') }}
{% endblock %}

{% block styleContentDashBoard %}
	{{ encore_entry_link_tags('message') }}
{% endblock %}

{% block toolbarPage %}
		{% include 'message/partials/toolbar.html.twig' %}
{% endblock %}
{% block pageContent %}
	<div id="main-content" class=" d-flex flex-wrap align-items-center m-4">
		{% include 'message/partials/message.html.twig' %}
	</div>
{% endblock %}
