{% extends 'dashboard.html.twig' %}

{% block title %}
	Error 404
{% endblock %}

{% block titlePage %}
	Error 404
{% endblock %}

{% block jsContent %}{% endblock %}

{% block styleContentDashBoard %}{% endblock %}

{% block toolbarPage %}{% endblock %}

{% block pageContent %}
	<div id="main-content" class="w-100 h-75 d-flex flex-wrap gap-4 align-items-stretch content-center justify-evenly m-4 ">
		<h1>Página no encontrada :(</h1>
	</div>
{% endblock %}
